section {
    padding: var(--default-padding);
    background-color: var(--background-light);
    color: var(--text-light);
    height: 100vh;
    position: relative;
}

.btn {
    margin: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
}


/* HERO SECTION */
#hero {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: var(--default-padding);
    transition: var(--default-trnasition);
}

.light-theme-background {
    background: linear-gradient(rgba(148, 148, 148, 0.3), rgb(255, 255, 255, 0.3)), url('../../images/about-bg.jpg'); 
}

.dark-theme-background {
    background: linear-gradient(rgba(46, 67, 71, 0.4), rgb(12, 22, 24, 0.4)), url('../../images/about-bg.jpg');
}

#hero .hero-content {
    /* color: var(--text-light); */
    color: white;
    text-align: center;
}

.hero-content h1 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 900;
}

.hero-content p {
    font-size: 0.7rem;
    font-weight: 500;
}

#about-section {
    display: flex;
    flex: column;
    align-items: start;
    justify-content: space-evenly;
    height: 130vh;
}

.my-picture {
    height: 100%;
    width: 100%;
    background-image: url('../../images/joseph.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 20%;
    border-radius: 50%;
    /* display: none; */
}

#about-section .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

#about-section .content h1 {
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 10px;
}

#about-section .content span {
    font-size: 0.7rem;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 5px;
    color: var(--primary-color);
    display: inline-block;
}

#about-section .content p {
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 10px;
}


/* ADDITIONAL INFORMATION */
#additional-info {
    overflow-y: hidden;
    padding: 5px;
}

#additional-info .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 20px 0;
}

#additional-info .heading h1 {
    font-size: 1rem;
}

.little-underline {
    display: none;
}

#additional-info .content {
    margin: 0 5%;
    padding-right: 5px;
    overflow-y: auto;
    height: 90%;
}

.content div {
    margin: 3% 0;
    padding: 0 2%;
    height: 60%;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--default-box-shadow);
    text-align: center;
    overflow: auto;
}

.content div:nth-of-type(even) {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.content div:nth-of-type(odd) {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.content div h2 {
    font-size: 0.8rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
}

.content div h2 i {
    margin-right: 2%;
}

.content div:nth-of-type(even) p {
    font-size: 0.7rem;
    font-weight: 600;
    margin: 10px 0;
}

.content div:nth-of-type(odd) p {
    font-size: 0.7rem;
    font-weight: 600;
    margin: 10px 0;
}
