/* GENERIC STYLING */

/* section {
    padding: var(--default-padding);
    background-color: var(--background-light);
    color: var(--text-light);
    height: 100vh;
    position: relative;
}

section .heading {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
    font-size: 50px;
}

section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
} 

section h1 {
    font-size: 50px;
    font-weight: 900;
}

section .head-text {
    font-size: 20px;
    margin: 30px 0;
    font-weight: 500;
} */

section h1:not(:first-of-type) {
    text-transform: capitalize;
    font-weight: bold;
}

.btn {
    float: right;
}


/* HERO SECTION */

#hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: var(--default-padding);
    transition: var(--default-trnasition);
    gap: 40px;
}

.light-theme-background {
    background: linear-gradient(rgba(122, 122, 122, 0.3), rgb(255, 255, 255, 0.3)), url('../../images/home-bg.JPG'); 
}

.dark-theme-background {
    background: linear-gradient(rgba(46, 67, 71, 0.7), rgb(12, 22, 24, 0.7)), url('../../images/home-bg.JPG');
}


.details h1 {
    color: var(--text-light);
    font-weight: 900;
    margin-bottom: 20px;
}

.details h1 span {
    font-weight: 500;
}

.details p {
    color: var(--text-light);
    font-weight: bolder;
    font-size: 1.2rem;
}

.details p span {
    color: var(--primary-color);
    text-decoration: dotted underline;
}

.my-picture {
    height: 500px;
    width: 550px;
    background-image: url('../../images/joseph.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 20%;
    border-radius: 50%;
}


/* ABOUT SECTION */

#about-section {
    height: 90vh;
}

#about-section .about-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-section .container .about-content {
    height: 90%;
    width: 65vw;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: var(--default-box-shadow);
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about-section .container .about-content div {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#about-section .container .about-content p {
    color: var(--secondary-color);
    text-align: center;
    font-size: 0.7rem;
}

#about-section .container .about-content .my-picture {
   height: 80%;
   width: 46%;
   display: none;
   /* margin: 0 auto; */
   /* margin-bottom: 20px; */
   /* border-radius: 50%; */
}
 
 
/* PROJECTS SECTION */

#projects-section {
    height: 110vh;
}

#projects-section .container {
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 30px;
    align-items: start;
}

.project-details {
    height: 90%;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--default-box-shadow);
    position: relative;
}

.cover-image {
    width: 100%;
    height: 50%;
}

.cover-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-details p {
    padding: var(--default-padding);
    color: var(--primary-color);
    font-size: 0.5rem;
    text-align: left;
    font-weight: 600;
}

.project-details p.project-name {
    padding: var(--default-padding);
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 900;
    font-size: 0.65rem;
    transition: var(--default-trnasition);
}

.project-details a.view-btn {
    padding: 10px 35px;
    font-size: 0.5rem;
    margin: 0 5%;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 500;
    border-radius: 5px;
}

.project-details a.view-btn:hover {
    scale: 1.05;
}

.project-details .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: var(--default-padding);
    position: absolute;
    bottom: 5%;
}

.project-details .links a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.6rem;
    opacity: 0.8;
    font-weight: bold;
}

.project-details .links a:hover {
    scale: 1.1;
    opacity: 1;
}

.project-details div:nth-child(2) {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

#projects-section .btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* margin: 0 2%; */
}



/* SERVICES SECTION */

#services-section {
    height: 145vh;
}

#services-section .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.service {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--secondary-color);
    padding: 0 5%;
}

.service:hover {
    scale: 1.1;
}

.service .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    margin-bottom: 10px;
}

.service i {
    font-size: 3rem;
    margin: 0 auto;
}

.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.service-content h2 {
    font-weight: bolder;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.service-content p {
    font-size: 0.5rem;
    margin: 2%;
    text-align: center;
    font-weight: 600;
}

.service-content h4 {
    text-align: center;
    font-size: 0.7rem;
    font-weight: bolder;
    margin-top: 20px;
}

.service-content .skills {
    text-align: center;
    font-weight: 500;
    opacity: 0.7;
}


/* CONTACT SECTION */
#contact-section {
    height: 60vh;
}

#contact-section .container {
    text-align: center;
    height: 70%;
    width: 70%;
    background-color: var(--secondary-color);
    box-shadow: var(--default-box-shadow);
    padding: var(--default-padding);
    margin: 2% auto;
    border-radius: 10px;
    color: var(--primary-color);
}

#contact-section .container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact-section .btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}