{% extends 'base.html' %}
{% load static %}

{% block pagename %}About Me{% endblock %}

{% block external_css %}
    <link rel="stylesheet" href="{% static 'css/about/about.css' %}" media="screen and (max-width:1980px)">
    <link rel="stylesheet" href="{% static 'css/about/about-tab.css' %}" media="screen and (max-width:1024px)">
    <link rel="stylesheet" href="{% static 'css/about/about-mobile.css' %}" media="screen and (max-width:540px)">
{% endblock %}

{% block body %}
    <!-- HERO -->
    <section id="hero" class="light-theme-background">
        <div class="hero-content" data-aos="fade-in">
            <h1>ABOUT ME</h1>
            <p>Always ready to learn and grow.</p>
        </div>
    </section>
    <!-- END HERO -->

    <!-- ABOUT -->
    <section id="about-section">
        <div class="my-picture" data-aos="zoom-in"></div>

        <div class="content">
            <span>About Me</span>
            <hr width="40px"><br>
            <h1>ADEGBEHINGBE, Oluwakorede Joseph</h1>
            <p>
                I am a computer scientist who graduated from Babcock University. I am also a very passionate and results-driven Python and Flutter developer with over 2 years of hands-on coding experience. I specialize in creating web and mobile applications that not only look great but also deliver exceptional user experiences because I believe that I won't want other people to use a product that I myself won't enjoy.
            </p>
            <p>I spend most of my time coding and trying to learn new things. I am always open to trying new things and figuring out how to solve problems as I feel it is very rewarding when I figure out how to solve problems I have never solved before.</p>

            <a href="{% url 'portfolio:contact' %}" class="btn">Reach out to me ->> </a>
        </div>

        <hr class="section-break">
    </section>
    <!-- END ABOUT -->

    <section id="additional-info">
        <div class="heading">
            <i class="fa-solid fa-info"></i>
            <h1>Additional Information</h1>
        </div>
        <div class="little-underline"></div>

        <div class="content">
            <div class="experience">
                <h2><i class="fa-solid fa-brain"></i>Experience</h2>
                <hr>
                <p>An overview of my professional expreience in software development.</p>
    
            </div>

            <div class="education">
                <h2><i class="fa-solid fa-graduation-cap"></i>Education</h2>
                <hr>
                <p>An overview of my education background.</p>
    
            </div>

            <div class="skills">
                <h2><i class="fa-solid fa-gears"></i>Skills</h2>
                <hr>
                <p>All the skills I have acquired and honed over the years.</p>
    
            </div>

            <div class="awards">
                <h2><i class="fa-solid fa-award"></i>Awards</h2>
                <hr>
                <p>All the awards I have achieved.</p>
    
            </div>

            <div class="certifcation">
                <h2><i class="fa-solid fa-certificate"></i>Certifications</h2>
                <hr>
                <p>All the certificates I have gotten in my pursuit of success in the software development industry.</p>
    
            </div>
        </div>
    </section>

{% endblock %}
