{% load static %}

<!DOCTYPE html>
<html lang="en" style="--background-dark: #0c1618; --text-dark: #f1f1f1; --background-light: #f1f1f1; --text-light: #0c1618;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Joboy-Dev || {% block pagename %}{% endblock %}</title>
<!-- 
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->

    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet"/>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/e883737a77.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" media="screen and (max-width:1980px)">
    <link rel="stylesheet" href="{% static 'css/base-tab.css' %}" media="screen and (max-width:1024px)">
    <link rel="stylesheet" href="{% static 'css/base-mobile.css' %}" media="screen and (max-width:540px)">
    
    {% block external_css %}{% endblock %}
    {% block internal_css %}{% endblock %}
</head>
<body>
    <div id="content">
        <i class="menu-icon icon-none fa-solid fa-bars fa-beat"></i>

        <nav class="navbar none" data-aos="slide-right">
            <i class="cancel-icon icon-none fa-solid fa-x"></i>
            <div class="dark-mode">
                <i id="dark-mode-icon" class="fa-solid fa-moon"></i>
            </div>

            <div class="picture"></div>

            <h1 data-aos="zoom-in">Adegbehingbe, <span>Oluwakorede Joseph</span></h1>

            <div class="social-links">
                <a href="https://www.github.com/joboy-dev" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/oluwakorede-adegbehingbe-242901274/"><i class="fa-brands fa-linkedin" target="_blank"></i></a>
                <a href="https://twitter.com/josephkorede36?s=09"><i class="fa-brands fa-twitter" target="_blank"></i></a>
            </div>

            <hr>

            <ul class="nav-links">
                <li>
                    <i class="fa-solid fa-house {% if active_link == 'home' %}fa-beat{% endif %}"></i>
                    <a href="{% url 'portfolio:home' %}" id="home" class="{% if active_link == 'home' %}active{% endif %}">Home</a>
                </li>
                <li>
                    <i class="fa-solid fa-user {% if active_link == 'about' %}fa-beat{% endif %}"></i>
                    <a href="{% url 'portfolio:about' %}"id="about" class="{% if active_link == 'about' %}active{% endif %}">About Me</a>
                </li>
                <li>
                    <i class="fa-solid fa-folder {% if active_link == 'projects' %}fa-beat{% endif %}"></i>
                    <a href="{% url 'portfolio:projects' %}" id="projects" class="{% if active_link == 'projects' %}active{% endif %}">My Projects</a>
                </li>
                <li>
                    <i class="fa-solid fa-envelope {% if active_link == 'contact' %}fa-beat{% endif %}"></i>
                    <a href="{% url 'portfolio:contact' %}"id="contact" class="{% if active_link == 'contact' %}active{% endif %}">Contact Me</a>
                </li>
            </ul>

            <div class="download-resume">
                <i class="fa-solid fa-download fa-bounce"></i>
                <a href="{% static 'Adegbehingbe Oluwakorede Joseph CV.pdf' %}" download="Adegbehingbe Oluwakorede Joseph Resume">Resume</a>
            </div>

            <footer>
                <p class="copyright">&copy; Copyright <b>{{ year }}</b>, <em>Joboy-dev</em></p>
            </footer>
        </nav>
        
        <div class="body">
            {% block body %}{% endblock %}
        </div>
    </div>

    <script src="{% static 'js/dark_mode_switch.js' %}"></script>
    <script src="{% static 'js/load_aos.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>